<template>
  <div>
    <b-alert variant="danger" :show="error != null">{{error}}</b-alert>
    <upload @submit="onSubmit" @error="onError"></upload>
    <br/>
    <result :results="results"></result>
  </div>
</template>
<script>
  import axios from 'axios'
  import Upload from '@/components/Upload'
  import Result from '@/components/Result'

  export default {
    name: "home",
    components: {
      Upload,
      Result
    },
    data() {
      return {
        error: null,
        results: null
      }
    },
    methods: {
      onSubmit(file) {
        this.error = null
        var formData = new FormData()
        formData.append('file', file)
        axios.post('/sequences/exec/by-upload', formData, {
            headers: {'Content-Type': 'multipart/form-data'}
        }).then((response) => {
            this.results = response.data.result
        }).catch((err) => {
            if (err.response && err.response.data && err.response.data.message)
              this.error = err.response.data.message
            else
              this.error = err.message
        })
      },
      onError(error) {
        this.error = error
      }
    }
  }
</script>
<style>

</style>
