<template>
  <b-card title="Resultat">
    <b-list-group>
      <b-list-group-item v-for="result in results" :key="result">{{result}}</b-list-group-item>
    </b-list-group>
  </b-card>
</template>

<script>
  export default {
    name: 'result',
    props: ['results']
  }
</script>
