<template>
  <b-card title="Upload">
    <b-form @submit="onSubmit">
      <b-form-group>
        <b-form-file v-model="file" :state="Boolean(file)" placeholder="Veuillez choisir un fichier"></b-form-file>
      </b-form-group>
      <b-button type="submit">Envoyer</b-button>
    </b-form>
  </b-card>
</template>

<script>
  export default {
    name: 'upload',
    data () {
      return {
        file: null,
      }
    },
    methods : {
      onSubmit(evt) {
        evt.preventDefault();
        if (this.file != null) {
          this.$emit('submit', this.file)
        } else {
          this.$emit('error', "Veuillez renseigner un fichier")
        }
      }
    }
  }
</script>
